<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <li class="active"> <a class="navbar-brand" [routerLink]="['/settingBoards']">סדור לוחות</a></li>
            <li><a [routerLink]="['/addHomePoster']">הוספת מודעת הבית</a></li>
            <li><a [routerLink]="['/okPosters']">אשור מודעות</a></li>
            <li><a [routerLink]="['/newBuildings']">התקנת לוחות</a></li>
            <li><a [routerLink]="['/sizePosters']">עדכון מחירון</a></li>
            <li><a [routerLink]="['/allUsers']">צפייה במשתמשים</a></li>
        </ul>
    </div>
</nav>